<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Auto Policies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
</head>
<body>
    <h1>Auto Policies</h1>
    <a href="{{ url_for('insert.insert_table_form', table_name='auto_policies') }}" class="btn btn-primary">Insert New Auto Policy</a>
    <table>
        <thead>
            <tr>
                <th>Auto Policy ID</th>
                <th>Policy ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Liability Amount</th>
                <th>Uninsured Motorist</th>
                <th>Underinsured Motorist</th>
                <th>Med Pay</th>
                <th>Collision Damage</th>
                <th>Named Insured</th>
                <th>Additional Driver</th>
            </tr>
        </thead>
        <tbody>
            {% for policy in auto_policies %}
            <tr>
                <td>{{ policy[0] }}</td>
                <td>{{ policy[1] }}</td>
                <td>{{ policy[2] }}</td>
                <td>{{ policy[3] }}</td>
                <td>{{ policy[4] }}</td>
                <td>{{ policy[5] }}</td>
                <td>{{ policy[6] }}</td>
                <td>{{ policy[7] }}</td>
                <td>{{ policy[8] }}</td>
                <td>{{ policy[9] }}</td>
                <td>{{ policy[10] }}</td>
                <td>{{ policy[11] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
