<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Developer Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="back-link">&larr; Back to Home</a>

    <h1>Developer Info</h1>

    <section>
        <h2>Contact Information</h2>
        <ul>
            <li><strong>Nickname:</strong> BitBaz</li>
            <li><strong>Email:</strong> <a href="bitbuz@gmx.com">bitbuz@gmx.com</a></li>
            <li><strong>Website:</strong> <a href="https://dotadiw.com" target="_blank" rel="noopener">https://dotadiw.com</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/stk-xp1" target="_blank" rel="noopener">github.com/stk-xp1</a></li>
        </ul>
    </section>

    <section>
        <h2>About Me</h2>
        <p>
           "I’m a passionate software developer with a love for building scalable web applications and exploring new technologies."
        </p>
    </section>

    <section>
        <h2>PGP Public Key</h2>
        <pre style="background:#f4f4f4; padding:15px; border-radius:6px; overflow-x:auto; max-width: 800px;">
            <code>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEaDIEXhYJKwYBBAHaRw8BAQdAhhgwGAEvzr8LTwnDxiNXRMWvjicezqlSh9i6
tzIixN+0B3N0ay1naXSIlgQTFggAPhYhBJ7465CI9LoyQY2czsPF1q+KwRe4BQJo
MgReAhsDBQkFo5qABQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEMPF1q+KwRe4
ZE8BAKCED1U7YJFDffKJK76zoaXXnwRct4Prwndmf/amqcWjAQD977Rjr61yxQ7W
ONGd1c4PDN898WmwlqpWMHI+LMgGDbg4BGgyBF4SCisGAQQBl1UBBQEBB0B+smIW
HH+kDnZnHPjAANCS+B94JuSFs6v54IW7mHkgKAMBCAeIfgQYFggAJhYhBJ7465CI
9LoyQY2czsPF1q+KwRe4BQJoMgReAhsMBQkFo5qAAAoJEMPF1q+KwRe4A1IBAIV6
eyZpg8WIFMOWbWjojfpht2fzohVWyrbozgB8HfDkAP9tJblluknBDKHSOhP58MWn
JJgqRY2d1Fgrh5xrd+V/C7kCDQRoMgR3ARAA3pQtuTIvSLAe/CXMyAGJ4/G9vvRx
cQvp2KCYK17LIE3o4RutnuouEQZ/MizqQhjbIjgiDLl2F0Xkx58MK8fXu5aw7i8d
1rDMpC1fooeqqFYvf/16KZ30TNszb6omtLqbYsR2A98fsOr2PPmO0+ny81KpBUx1
dfNm+7SrEIS2FSr8kgNFqKgjw867/2tembpVeXBOfGQddyXZ4M89GuxtD33Z+I98
Gzl0fVEXqjzVnxJgIrH1+1613jAdi/XQ+ZA3lBsOtQO7tyMawW/MD4Tg/dKOunr/
6uzHiJgFzWAI+RgzeE9Tqbl6820mvdsHBxT0Uc2F1XK4Mkzp6+P2J0qAF18BWvBV
/dkpYnEsbneMLmaykK8rmcu6o37rrsqzGO4YSSDM34GNiCKQl+s3ZH3ZPaY0oyL2
XGjAW2UAsGf8iOJfO/SYUtWg2PLfn8hIUr/nIczw1W/+sh8hBaS17FLrAQMaKzBb
aYz+6pN6cdM3Cmp3fHyPmMnARzkHuibCz0xZdMkzovfRBxWTBmHxMPbf8OAdpBnf
mf8DNXtpXTdc4yTSynHnd4ZVbHpZF4/E/JlEitGz8vEvcASiRjLW92MGICSIj3zz
QysctVLDEIUBs2QnvM9OXg2kRHDTtZSi0Xx4868ighcFt9L/iE8ZQuWVnsz+nRD9
TuUFNlfWdPNjRnUAEQEAAYh+BBgWCAAmFiEEnvjrkIj0ujJBjZzOw8XWr4rBF7gF
AmgyBHcCGwwFCQWjmoAACgkQw8XWr4rBF7hrBAEAtQPH7Sboaxrdt3Oea5v5/w83
BwfgrvS2LVxaLdLnv+MA/R7067SbBRDDC0kcGhzmHs2NCjkf+HOtEyvVc8bppdsB
=ZqNM
-----END PGP PUBLIC KEY BLOCK-----

            </code>
        </pre>
    </section>
</body>
</html>

