<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert New Claims</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customers.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="back-link">&larr; Back to Home</a>

    <h2>Insert New Claims</h2>

    <form method="POST" action="{{ url_for('insert_table_form', table_name='payments') }}">
        <label for="claim_id">Claims ID *</label>
        <input type="text" id="claim_id" name="claim_id" required>

        <label for="policy_id">Policy ID *</label>
        <input type="text" id="policy_id" name="policy_id" required>

        <label for="claim_type">Claim Type</label>
        <input type="text" id="claim_type" name="claim_type" placeholder="e.g. Accident, Fire, Death, Theft ">

        <label for="claim_date">Claim Date</label>
        <input type="date" id="claim_date" name="claim_date">

        <label for="claim_amount">Claim Amount</label>
        <input type="number" id="claim_amount" name="claim_amount" step="0.01">

        <label for="claim_status">Claim Status </label>
        <input type="text" id="claim_status" name="claim_status" placeholder="e.g. Credit Card, Cash, Bank Transfer ">

        <button type="submit">Insert Claim</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>

