<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Select Table to Insert Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="back-link">&larr; Back to Dashboard</a>

    <h2>Select Table to Insert Data</h2>

    <ul class="table-list">
        {% for table in tables %}
        {% set url_part = table.lower() %}
        <li>
            <a href="{{ url_for('insert_table_form', table_name=url_part) }}">{{ table.replace('_', ' ') }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

