<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Life Insurance Policies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
</head>
<body>
    <h1>Life Insurance Policies</h1>
    <table>
        <thead>
            <tr>
                <th>Life Policy ID</th>
                <th>Policy ID</th>
                <th>Premium Amount</th>
                <th>Benefit Amount</th>
                <th>Beneficiary</th>
            </tr>
        </thead>
        <tbody>
            {% for life_insurance_policie in life_insurance_policies %}
            <tr>
                <td data-label="life_insurance_policie ID">{{ life_insurance_policie[0] }}</td>
                <td data-label="Policy ID">{{ life_insurance_policie[1] }}</td>
                <td data-label="life_insurance_policie Type">{{ life_insurance_policie[2] }}</td>
                <td data-label="Alife_insurance_policie Data">{{ life_insurance_policie[3] }}</td>
                <td data-label="life_insurance_policie Amount">{{ life_insurance_policie[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
